body
{
     background-color: #eab585;
	 font-size:18px;
	 margin:20px;
	 border:3px solid  #bb9a7d;
	 padding:10px;
}
h2 {
	
	color:black;
}
h3 {
     color: #351e0a;
	 
}
p
 {
	
     font-size: 18px;
}

